{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - is_front_page: Is frontpage boolean.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_logo %}
    {% if is_front_page %}
      <h1 class="site-branding__logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        {% if site_name %}
          <br/>{{ site_name }}
        {% endif %}
      </h1>
    {% else %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="site-branding__text">
      {% if site_name and not site_logo %}
        {% if is_front_page %}
          <h1 class="site-branding__name">{{ site_name }}</h1>
        {% else %}
          <div class="site-branding__name">
            <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </div>
        {% endif %}
      {% endif %}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
